
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
}

.hero-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    opacity: 0.6;
}

h1 {
    margin-top: -200px;
    font-size: 48px;
}

.section-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

section {
    padding: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #000;
}
